{{ define "main" }}
{{ partial "navigation.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.contact }}
<section id="contact-us" class="bg-one section pt-4 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInUp" data-wow-duration="1500ms">
                    <h2>{{ .heading }} <span class="color">{{ .headingSpan }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- Contact Details -->" | safeHTML}}
            <div class="contact-info col-lg-6 mb-3 wow fadeInUp" data-wow-duration="500ms">
                <h3>{{ .title }}</h3>
                <p> {{ .content }} </p>
                <div class="contact-details">
                    {{ range .contactDetails }}
                    <div class="con-info clearfix">
                        <i class="{{ .icon }}"></i>
                        <span>{{ .info }}</span>
                    </div>
                    {{ end }}
                </div>
            </div>

            {{"<!-- Contact Form -->" | safeHTML}}

            <div class="col-lg-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" class="form-meghna" method="post" role="form">
                    <div class="form-group">
                        <select required="required" aria-required="true" class="powermail_select form-control "
                            id="powermail_field_kundenwunsch" name="tx_powermail_pi1[field][kundenwunsch]">
                            {{range $index, $element := .contactOptions}}
                            <option value="{{ .value }}" {{ if (eq $index 0) }} selected disabled{{ end }}>{{ .desc }}
                            </option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="form-group d-flex">
                        <select required="required" aria-required="true"
                            class="powermail_select form-control powermail_field_error" id="powermail_field_salutation"
                            name="tx_powermail_pi1[field][salutation]">
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                        </select>
                        <input placeholder="Firstname" class="powermail_input form-control mr-2 ml-2"
                            id="powermail_field_firstname" type="text" name="tx_powermail_pi1[field][firstname]"
                            value="">
                        <input placeholder="Lastname" required="required" aria-required="true"
                            class="powermail_input form-control " id="powermail_field_name" type="text"
                            name="tx_powermail_pi1[field][name]" value="">
                    </div>
                    <div class="form-group">
                        <input placeholder="Email" required="required" aria-required="true"
                            class="powermail_input form-control " id="powermail_field_email" type="email"
                            name="tx_powermail_pi1[field][email]" value="">
                    </div>
                    <div class="form-group">
                        <input placeholder="Telephone" class="powermail_input form-control" id="powermail_field_phone"
                            type="text" name="tx_powermail_pi1[field][phone]" value="">
                    </div>
                    <div class="form-group">
                        <input placeholder="Company" required="required" aria-required="true"
                            class="powermail_input form-control " id="powermail_field_company" type="text"
                            name="tx_powermail_pi1[field][company]" value="">
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Message" rows="5" cols="20" class="powermail_textarea form-control "
                            id="powermail_field_mitteilung" name="tx_powermail_pi1[field][mitteilung]"></textarea>
                    </div>
                    <div class="form-check">
                        <input aria-required="true" required="required"
                            class="form-check-input powermail_checkbox powermail_checkbox_1389"
                            id="powermail_field_datenschutz_1" type="checkbox"
                            name="tx_powermail_pi1[field][datenschutz]" value="Ja" />
                        <label for="powermail_field_datenschutz_1" class="form-check-label">
                            {{ .privacyText1 }} <a href="{{ .privacyUrl | relLangURL }}"> {{ .privacyText2 }}</a>
                            {{ .privacyText3 }}
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="powermail_checkbox powermail_checkbox_1387 form-check-input"
                            id="powermail_field_serviceangebote_1" type="checkbox"
                            name="tx_powermail_pi1[field][serviceangebote][]" value="Ja" />
                        <label for="powermail_field_serviceangebote_1" class="form-check-label">
                            {{ .getInformedText }}
                        </label>
                    </div>
                    {{"<!-- /section title -->" | safeHTML}}
                    <div id="form-sent" class="d-none animated alert alert-success mt-3">
                        <span>{{ .thankYouText }}</span>
                    </div>
                    <div id="form-sent-error" class="d-none animated alert alert-warning mt-3">
                        <span>{{ .errorText }}</span>
                    </div>
                    <div id="cf-submit" class="form-group">
                        <input type="submit" id="contact-submit" class="btn btn-main mt-4 mb-2" value="Submit"
                            style="width: 100%" />
                    </div>
                    <div class="d-none">
                        <input autocomplete="new-powermail-hp" id="powermail_hp_32" type="text"
                            name="tx_powermail_pi1[field][__hp]" value="">
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
{{ end }}
{{ end }}






