.breadcrumbnav {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 0rem;
    a {
        color: $color-gray-dark;
        text-decoration: none;
        &:hover { text-decoration: underline}
    }
    li {
        display: inline;
    }
    li{
        @include nav-list-item();
        margin-left: 2rem;
    }
}
