#price-table {
    list-style: none;
    display: flex;
    flex-direction: row;        
    padding: 0;
    @media screen and (max-width: 820px) {
        flex-direction: column;    
    }

    >li {
        @media screen and (max-width: 820px) {
            margin-bottom: 3rem;
        }

        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        flex: 1;
        box-shadow: $shadow-l1;

        >ul {
            list-style: none;
            padding: 1rem;
            flex: 1;

            >li {
                text-align: center;
                margin-bottom: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                i.check-mark {
                    color: $color-green;
                    &::before {
                        content: "✓"
                    }
                }
                a {
                    text-decoration: none;
                    color: $color-gray-dark;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                a.info {
                    background: $color-green;
                    border-radius: 50%;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    text-decoration: none;
                    font-size: .8rem;
                    font-weight: bold;
                    margin-left: .5rem;
                    &::before {
                        content: "i"
                    }
                }
            }
        }

        .button {
            width: 50%;
            align-self: center;
            text-align: center;
            margin-bottom: -1.5rem;
        }

        .price {
            align-self: center;
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 1rem;
            .price-addon {
                margin-top: .5rem;
                display:block; 
                font-weight: lighter;
                font-size: .75rem;
            }
            a {
                text-decoration: none;
                color: $color-gray-dark;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    margin-bottom: 4rem;    
}

#enterprise-contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        span {
            flex: .33;
            text-align: right;
            padding: .5rem;
        }
       
        input, select, textarea {
            padding: .5rem;
            border-radius: 1rem;
            flex: 1;
            border: 1px solid $color-green;
            font-size: 1rem;

        }
    }
    .actions {
        display: flex;
        justify-content: flex-end;
    }
}
