#price-table {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }

    >li {

        //background-image: linear-gradient(lighten($color-green, 50%), transparent, transparent,transparent);
        img {
            width: 33%;
            align-self: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        background-color: white;

        @media screen and (max-width: 820px) {
            margin-bottom: 3rem;
        }

        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        flex: 1;
        box-shadow: $shadow-l1;

        >ul {
            border-top: 1px solid $color-green-light;
            list-style: none;

            padding: 1rem;
            flex: 1;

            >li {
                >span {
                    flex: 1;
                }

                border-bottom: 1px solid $color-green-light;
                padding-bottom: 1rem;

                &.meta-info {
                    justify-content: center;
                    text-align: left;
                    padding-left: 1.5rem;
                }

                text-align: left;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;

                i.check-mark {
                    color: $color-green;
                    align-self: flex-start;
                    margin-right: .5rem;

                    &::before {
                        content: "✓"
                    }
                }

                a {
                    text-decoration: none;
                    color: $color-gray-dark;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                a.info {
                    background: $color-green;
                    border-radius: 50%;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    text-decoration: none;
                    font-size: .8rem;
                    font-weight: bold;
                    margin-left: .5rem;

                    &::before {
                        content: "i"
                    }
                }
            }
        }

        .button {
            width: 50%;
            padding: .5rem;
            align-self: center;
            text-align: center;
            margin-bottom: -1.5rem;
        }

        .price {
            align-self: center;
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 1rem;
            color: $color-green;

            .price-addon {
                margin-top: .5rem;
                display: block;
                font-weight: lighter;
                font-size: .75rem;
                color: $color-gray-dark;
            }

            a {
                text-decoration: none;
                color: $color-gray-dark;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    margin-bottom: 4rem;
}

.price-list-description {
    dd {
        margin-left: 0;
    }
}

#sakuli-enterprise-contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    /*
    label {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        span {
            text-align: right;
            padding: .5rem;
        }

        input, select, textarea {
            min-width: 50%;
            padding: .5rem;
            border-radius: 1rem;
            flex: 1;
            border: 1px solid $color-green;
            font-size: 1rem;

        }
    }
    */
    .actions {
        display: flex;
        justify-content: flex-end;
    }

    .powermail_fieldset {
        display: flex;
        flex-wrap: wrap;
    }

    .powermail_fieldwrap_hinweistext,
    .powermail_fieldwrap_hinweistext2,
    .powermail_fieldwrap_hinweistext3,
    .powermail_fieldwrap_marke {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }


    @media screen and (min-width: 992px) {

        .powermail_fieldwrap_salutation {
            -webkit-flex:0 0 16.6666666667%;
            -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
            width: 16.6666666667%;
        }

        .powermail_fieldwrap_firstname {
            -webkit-flex: 0 0 33.3333333333%;
            -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
            width: 33.3333333333%;
        }

        .powermail_fieldwrap_name {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        #page_368 .powermail_fieldwrap_name {
            -webkit-flex: 0 0 33.3333333333%;
            -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
            width: 33.3333333333%;
        }

        .frame-layout-1 .powermail_fieldwrap_name {
            -webkit-flex: 0 0 33.3333333333%;
            -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
            width: 33.3333333333%;
        }

        .powermail_fieldwrap_email {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_company {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_street {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_phone {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_country {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_country2 {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .de .powermail_fieldwrap_country2 {
            display: none !important;
        }

        .powermail_fieldwrap_postcode {
            -webkit-flex: 0 0 16.6666666666%;
            -ms-flex: 0 0 16.6666666666%;
            flex: 0 0 16.6666666666%;
            max-width: 16.6666666666%;
            width: 16.6666666666%;
        }

        .powermail_fieldwrap_city {
            -webkit-flex: 0 0 33.3333333333%;
            -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
            width: 33.3333333333%;
        }

        .powermail_fieldwrap_standort {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_funktion {
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }

        .powermail_fieldwrap_aufmerksamdurch {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_einstiegsdatum {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_attachment {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_attachmenthinweis {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_mitteilung {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        .powermail_fieldwrap_mitteilung textarea {
            height: 76px;
        }
    }
}
