.key-features {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    .key-features__feature {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        text-align: center;
        margin-bottom: 3rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin: 1rem;
        padding-top: 1rem;

        h2 {
            text-align: center;
            margin: 0;
            border-color: $color-green-light;
        }

        img {
            width: 25%;
            align-self: center;
        }

        p {
            padding: 0 3rem;
            color: $color-gray-dark;
            margin-bottom: 2rem;
            flex: 1;
        }
    }

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }
}
