footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background: $color-gray-dark;
    nav {
        display: flex;
        justify-content: center;
        flex: 1;
        color: $color-green;
        ul {
            align-self: center;
            display: flex;
            flex-direction: row;
            list-style: none;
            li {
                margin-right: 1rem;
                border-left: 1px solid $color-green;
                &:nth-child(1) {
                    border: none;
                }
                padding-left: 1rem;
                a {
                    color: $color-green;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

