@keyframes fadein {
    from {
        transform: scale(0, 1.5);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fromTop {
    from {
        transform: translate(0, -50px);
        opacity: 0;
    }

}


@keyframes dash {
    from {
        stroke-dashoffset: 1500;
        fill: transparent;
        stroke: #7C7C7B;
        stroke-width: 1;
    }

    50% {
        //stroke-dashoffset: calc(1500 * .25);
        stroke-width: 1;
        fill: transparent;
    }

    to {
        stroke: #7c7c7b;
        stroke-dashoffset: 0;
        stroke-width: 1;
    }

}


@keyframes fromBottom {
    from {
        transform: translate(0, 50px);
        opacity: 0;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, $color-green-pale, $color-gray-very-dark);
    padding: 5rem 0 5rem 0;
    text-shadow: $shadow-l1;
    box-shadow: $shadow-l1;
    color: lighten($color-gray-light, 10%);

    @media screen and (max-width: 820px) {
        flex-direction: column-reverse;
    }

    .hero__call-to-action {
        flex: 1;
        font-size: 2rem;
        padding: 0 1rem 0 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 3rem;

        h1 {
            border-bottom: 1px solid $color-green;
            padding-bottom: 1.5rem;
            color: $color-green;
            animation: fromTop 1s;
            margin: 0;
        }

        p {
            margin-bottom: 3rem;
            animation: fromBottom 1s;
        }

    }

    .hero__image {
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 2rem;



        svg {
            max-width: 500px;
            align-self: center;
            width: 100%;

            .logo-typography {
                animation: fadein 1s;
                transform-origin: 50% 50%;
            }

            .character, circle {
                stroke-dasharray: 1500;
                stroke-dashoffset: 0;
                animation: dash 5s linear;

            }



        }
    }



}
