.page {

    display: flex;

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }

        article {
        flex: 1;
        margin-left: 2rem;
    }
}

aside {
    flex: .25;
    margin-bottom: 2rem;
    border-radius: 1rem;

    ul {
        list-style: none;
        li {
            margin-bottom: .5rem;
        }

        list-style: none;
        padding-left: 1rem;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            color: darken($color-green, 30%);
        }
    }

    nav#TableOfContents>ul {

        ul li {
            @include chevron();

            &::before {
                width: 1em;
                margin-left: -1em;
            }

            &.active > a {
                font-weight: bold;
            }
        }


    }
}
