.page {

    display: flex;

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }

    aside {
        flex: .25;
        margin-bottom: 2rem;
        border-radius: 1rem;

        ul {
            li {
                margin-bottom: .5rem;
            }
            list-style: none;
            padding-left: 1rem;
            ul li {
                @include nav-list-item()
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                color: darken($color-green, 30%);
            }
        }
    }

    article {
        flex: 1;
        margin-left: 2rem;
    }
}
