$color-gray-dark: #403f41;
$color-gray-very-dark: darken($color-gray-dark, 7.5%);
$color-gray-light: rgb(118, 120, 123);
$color-green: #95C11F;
$color-green-light: #d2ed8c;
$color-green-pale: hsl(89, 0%, 45%);

$shadow-l1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-l2:  0 10px 18px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.22);