
.flexedContainer {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 820px) {
        flex-direction: column;
    }
    .preview__item {
        display: flex;

    }
    .content__item {
        display: flex;
        
    }
}