body,
main,
.key-features,
.key-features__feature p,
.story {
    display: block;
}

.key-features__feature {
    margin-bottom: 50px !important;
    p {
        margin-bottom: 4rem !important;
    }
}


ul#price-table {
    li {
        display: block;
        float: left;
        text-align: center;
        position: relative;
        img {
            margin-left: auto;
            margin-right: auto;
        }
        ul {
            text-align: right;
            clear: both;
            display: block;
            li {
                clear: both;
                float: none;
                display: block;
                a.info {
                    float: right;
                }
            }
        }

        .button {
            position: absolute;
            bottom: 0;
            margin-left: 25%;
        }
    }
}
