@import "../../../../vue-components/node_modules/bootstrap/scss/bootstrap.scss";
@import 'variables.scss';
@import 'story.scss';
@import 'features.scss';
@import 'hero.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'enterprise.scss';
@import 'atomic.scss';
@import 'page.scss';
@import 'breadcrumb.scss';
@import 'docs_page.scss';
@import 'section-navigation.scss';
@import 'whitepaper.scss';



body,
html {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}

:focus {
    outline: 0;
}

main {
    background-color: $color-background;
    flex: 1;
    flex-direction: column;
    display: flex;

    >section {
        margin-bottom: 5rem;
    }

    line-height: 1.75rem;

    article {
        img {
            max-height: 400px;
            width: 100%;
            margin: 1rem
        }


        a {
            color: darken($color-green, 10%);
            font-weight: bold;
            //transition: color .15s ease-out;

            &:hover {
                color: $color-green !important;
            }

            &:visited {
                color: desaturate($color-green, 50%) !important;
            }
        }

    }

}

pre {
    line-height: initial;
    overflow: auto;
    padding: .5rem;
}

.fork-me-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.button {
    background: $color-green;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2rem;
    color: $color-gray-dark;
    box-shadow: $shadow-l1;
    transition: box-shadow 250ms ease-out;
    border: 0;

    &:hover {
        box-shadow: $shadow-l2;
        color: $color-gray-dark;
    }

    &:visited {
        color: $color-gray-dark;
    }

    text-shadow: none;

    &.button-secondary {
        background: lighten($color-gray-dark, 50%);
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    border: none;
    text-align: left;
    color: $color-green-pale;
    font-weight: 100;
    margin-left: 0;
    line-height: 3.5rem;
}

h1 {
    text-align: center;
}

a {
    color: $color-gray-very-dark;

    &:hover {
        color: $color-green;
    }

    &:visited {
        color: $color-gray-dark;
    }
}

td {
    word-wrap: break-word;
}

table {
    width: 100%;
    table-layout: fixed;

}
