{{ define "main" }}
{{ partial "navigation.html" . }}



{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.dataprivacy }}

<section class="section pt-4 pb-0">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeInDown" data-wow-duration="1500ms">
                    <h2>{{ .heading }}<span class="color"> {{ .headingSpan }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{ .Content }}

            <div class="container col-md-8">
                {{ range .paragraphs}}
                    {{ if .head }}<h5>{{ .head }}</h5>{{ end }}
                    {{ if .content }}<p>{{ .content }}</p>{{ end }}
                    {{ if .cookieLinkText }}<p><a class="btn btn-transparent" onclick="klaro.show();return false;">{{ .cookieLinkText }} </a></p>{{ end }}
                    {{ if .linkText }}<p><a href="{{ .linkUrl }}" target="_blank" rel="noopener">{{ .linkText }} </a></p>{{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}






