{{ $scratch := newScratch }}
{{ $scratch.Set "counter" 0 }}
{{ range $name, $story := . }}
    {{ $c := int ($scratch.Get "counter")}}
    {{ with $story }}
    <section class="story {{if eq 0 (mod $c 2)}}odd{{end}}">
        <div class="image">
            {{if isset . "Image"}}
                <img src="{{ .Image.path }}" alt="{{ .Image.alt }}" />
            {{end}}
            {{if isset . "Description"}}
                {{ .Description | markdownify}}
            {{end}}
        </div>
        <div class="content">
            <a id="{{ $name }}">
                <h2>{{ .Title }}</h2>
            </a>
            {{ .Content | markdownify }}
        </div>
        {{ $scratch.Set "counter" (add 1 ($scratch.Get "counter")) }}
    </section>
    {{end}}
{{end}}