<!-- Header -->
{{ partial "header.html" . }}
{{ $priceList := .Site.Data.enterprise.price_table }}
<h1>{{.Title}}</h1>
<article class="shrink-content text-center">
    {{.Content}}
</article>
<ul id="price-table" class="shrink-content">
    {{ range $priceList.plans }}
    <li>
        <h2>{{ .code }}</h2>
        <div class="price">
            {{ if isset . "price"}}
            {{ if gt .price 0}}
            {{ .price }}€ <small class="price-addon">per month</small>
            {{else}}
            Free <small class="price-addon">Open Source</small>
            {{end}}
            {{else}}
            Request <small class="price-addon">individual offer</small>
            {{end}}
        </div>
        <ul>
            
            <li class="meta-info">
                <span>
                    <strong>{{.instances}}</strong> instances
                </span>
                <a href="#instances" class="info">
                </a>
            </li>
            {{ if .maintenance }}
            <li class="meta-info">
                <span>
                    Maintenance
                </span>
                <a href="#maintenance" class="info"></a>
            </li>
            {{end}}
            {{ if isset . "sla"}}
            <li class="meta-info">
                <span>
                    Professional Support<br />initial reaction time<br />
                    <strong>{{.sla}}</strong>
                </span>
                <a href="#sla-time" class="info">
                </a>
            </li>
            {{end}}
            <li>
                <i class="check-mark"></i> <a href="core">Sakuli Core</a>
            </li>
            {{ if .forwarder }}
            <li>
                <i class="check-mark"></i><a href="forwarder">Monitoring Forwarder</a>
            </li>
            {{end}}
            {{ if .container }}
            <li>
                <i class="check-mark"></i> <a href="container">Pre-Configured Headless Container</a>
            </li>
            {{end}}
            <!-- {{ if .cli }}
            <li>
                <i class="check-mark"></i> <a href="cli"> Sakuli CLI Tools</a>
            </li>
            {{end}}
            {{ if .hub }}
            <li>
                <i class="check-mark"></i> <a href="hub">Sakuli Hub</a>
            </li>
            {{end}}
            -->
            {{ if .customerchannel }}
            <li>
                <i class="check-mark"></i><span>Use of Customer support channels</span>
            </li>
            {{end}}
        </ul>

        <a class="button" href="{{ .priceLink }}" target="_blank">
            {{ if or (and (isset . "price")  (gt .price 0)) (not (isset . "price")) }}
            Contact
            {{else}}
            Github
            {{end}}
        </a>
    </li>
    {{end}}
</ul>

{{if isset $priceList "MaintenanceDescription"}}
<dl class="price-list-description shrink-content">
    <dt>
        <a id="maintenance">
            <h2>What does <i>Maintenance</i> mean?</h2>
        </a>
    </dt>
    <dd>
        {{$priceList.MaintenanceDescription}}
    </dd>
</dl>
{{end}}

{{if isset $priceList "SlaDescription"}}
<dl class="price-list-description shrink-content">
    <dt>
        <a id="sla-time">
            <h2>What does <i>Support</i> mean?</h2>
        </a>
    </dt>
    <dd>
        {{$priceList.SlaDescription}}
    </dd>
</dl>
{{end}}

{{if isset $priceList "InstanceDescription"}}
<dl class="price-list-description shrink-content">
    <dt>
        <a id="instances">
            <h2>What does <i>Instances</i> mean?</h2>
        </a>
    </dt>
    <dd>
        {{$priceList.InstanceDescription}}
    </dd>
</dl>
{{end}}

{{if isset $priceList "PriceDescription"}}
<dl class="price-list-description shrink-content">
    <dt>
        <a id="price">
            <h2>Price information:</h2>
        </a>
    </dt>
    <dd>
        {{$priceList.PriceDescription}}
    </dd>
</dl>
{{end}}
<!-- Footer -->
{{ partial "footer.html" . }}
