<div id="docs-page">
    <aside id="main-nav">
        <nav>
            {{ $docsSection := .Site.GetPage "section" "docs"}}
            {{$sectionNav := (dict "section" $docsSection "currentUrl" .RelPermalink)}}
            {{partial "section-navigation.html" $sectionNav}}
            <section class="section-navigation">
                <strong>API Docs</strong>
                <ul>
                    <li>
                        <a href="/apidoc/sakuli-legacy" target="_blank" rel="noopener">@sakuli/legacy</a>
                    </li>
                    <li>

                        <a href="/apidoc/sakuli-core" target="_blank" rel="noopener">
                            @sakuli/core
                        </a>
                    </li>
                    <li>
                        <a href="/apidoc/sakuli-cli" target="_blank" rel="noopener">
                            @sakuli/cli
                        </a>
                    </li>
                    <li>
                        <a href="/apidoc/sakuli-commons" target="_blank" rel="noopener">
                            @sakuli/commons
                        </a>
                    </li>
                    <li>
                    <a href="/apidoc/sakuli-rollup-hooks" target="_blank" rel="noopener">
                        @sakuli/rollup-hooks
                    </a>
                    </li>
                </ul>
            </section>
        </nav>
    </aside>
    <div class="page">
        <section class="sticky-header">
            <div class="stick-header--content">
                <h1>{{ .Title }}</h1>
            </div>
            <div class="stick-header--actions">
                <a id="toggle-toc" class="fas fa-angle-double-down"></a>
            </div>
        </section>
        <article class="shrink-content">
            <h1>{{ .Title }}</h1>
            <div>
                {{ .Content }}
            </div>
        </article>
        <aside id="secondary-nav">
            {{ .TableOfContents }}
        </aside>
    </div>

</div>
