</main>
<footer>
    <nav>
        <ul>
            <li> © 2020 <a href="https://consol.com" target="_blank" rel="noopener">ConSol Consulting & Solutions Software GmbH</a></li>
            <li><a href="/legalnotice">Legal Notice</a></li>
            <li><a id="data-privacy-link" href="https://www.consol.com/data-privacy/" target="_blank" rel="noopener">Data Privacy</a></li>
            <li><a id="contact-link" href="https://www.consol.com/request-sakuli-enterprise" target="_blank" data-contactform="Contact our Team">Contact</a></li>
        </ul>
    </nav>
</footer>
<div id="modal"></div>
{{ $jqSlimJs := resources.Get "ext/jquery-3.3.1.slim.min.js" }}
{{ $popperJs := resources.Get "ext/popper.min.js" }}
{{ $bsJs := resources.Get "ext/bootstrap.min.js" }}
{{ $parsleyJs := resources.Get "ext/parsley.min.js" }}
{{ $vueJs := resources.Get "vue/index.js" }}
{{ $js := slice $jqSlimJs $popperJs $bsJs $parsleyJs $vueJs | resources.Concat "js/bundle.js" | resources.Minify }}
<script src="{{ $js.RelPermalink }}"></script>
</body>
</html>
