</main>
<footer>
    <nav>
        <ul>
            <li> © 2019 ConSol Consulting & Solutions Software GmbH</li>
            <li><a href="/legalnotice">Legal Notice</a></li>
            <li><a id="data-privacy-link" href="https://www.consol.com/data-privacy/" target="_blank" rel="noopener">Data Privacy</a>
            </li>
            <li><a href="mailto:sales@consol.de?subject=Sakuli%20Contact">Contact</a></li>
        </ul>
    </nav>
</footer>
<div id="modal"></div>
<script src="/vue/index.js"></script>
</body>
</html>
