<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ .Site.Title }} </title>
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity=”{{ $style.Data.Integrity }}”  />
    {{ partial "head.html"}}
</head>
<body>
    <header>


<div class="navLogo__image">
    <a href="/"><img src="/images/sakuli_horizontal.png" height=50px/></a>
</div>
        <nav>
            <ul>
                <li><a href="#">Docs</a></li>
                <li><a href="/enterprise">Enterprise</a></li>
            </ul>
        </nav>
    </header>
    <main>
