<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager (needs to stay as first element in head) -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TMFSKHB');</script>
    <!-- End Google Tag Manager -->

    <title>
        Sakuli End2End Testing and Monitoring{{ with .Page.Title }} | {{ . }}{{ end }}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="publisher" content="ConSol Consulting & Solutions Software GmbH">
    <meta name="copyright" content="ConSol Consulting & Solutions Software GmbH">
    <meta name="description" content="Behavior and performance validation of every application. DOM and native UI Testing features cover every scenario. Send performance data to monitoring systems.">
    <meta name="keywords" content="End2End E2E End to End Monitoring UI Testing RPA Robot Process Automation Support Maintenance Container S2I Images Enterprise Packages">
    <meta name="page-topic" content="IT, Business, Software Quality">
    <meta name="page-type" content="Software Product">
    <meta name="audience" clang="en" content="all">
    <meta name="robots" content="index, follow">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="content-language" content="en">

    <meta name="DC.Publisher" content="ConSol Consulting & Solutions Software GmbH">
    <meta name="DC.Rights" content="ConSol Consulting & Solutions Software GmbH">
    <meta name="DC.Description" content="Behavior and performance validation of every application. DOM and native UI Testing features cover every scenario. Send performance data to monitoring systems.">
    <meta name="DC.Language" content="en">

    <meta property="og:title" content="Sakuli End2End Testing and Monitoring{{ with .Page.Title }} | {{ . }}{{ end }}" />
    <meta property="og:description" content="Behavior and performance validation of every application. DOM and native UI Testing features cover every scenario. Send performance data to monitoring systems." />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/sakuli_hero.png" />
    <meta property="og:site_name" content="Sakuli End-to-End Testing and Monitoring" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Sakuli E2E{{ with .Page.Title }} | {{ . }}{{ end }}" />
    <meta name="twitter:description" content="Behavior and performance validation of basically every application. Test like a real-world user. DOM-based and native UI Testing features cover every scenario. Send performance data to monitoring systems. The Pinnacle of Testing!" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/sakuli_hero.png" />
    <meta name="twitter:site" content="@sakuli_e2e" />

    {{ $vueCss := resources.Get "vue/index.css" }}
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS $options }}
    {{ $css := slice $vueCss $style | resources.Concat "css/bundle.css" }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" />
    <link href="/fontawesome/css/all.min.css" rel="stylesheet">
    <!--load all styles -->

    {{ partial "head.html"}}

    {{ $ieOptions := (dict "targetPath" "ie.css" "outputStyle" "compressed") }}
    {{ $ieStyle := resources.Get "scss/ie.scss" | resources.ToCSS $ieOptions }}
    <script lang="text/javascript">
        var ua = window.navigator.userAgent;
        var version = ieVersion(ua);
        if (version && version >= 10 && version <= 11) {
            document.write('<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CArray.from%2CPromise%2CString.prototype.startsWith"><\/script>');
            document.write('<link rel="stylesheet" href="{{ $ieStyle.Permalink }}" integrity="{{ $ieStyle.Data.Integrity }}" />')
        }
        function ieVersion(uaString) {
            uaString = uaString || navigator.userAgent;
            var match = /\b(MSIE |Trident.*?rv:|Edge\/)(\d+)/.exec(uaString);
            if (match) return parseInt(match[2])
        }
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) (needs to stay as first element in body) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TMFSKHB" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ partial "github.html"}}
    <header class="navbar navbar-expand-lg sticky-top navbar-light bg-none" style="height: 100%;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navBar">
            <a class="navbar-brand flex-grow-1 d-none d-sm-block" href="/">
                {{ partial "brand-logo.html" }}
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/docs/getting-started">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/enterprise">Enterprise</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
