{{ $data := index .Site.Data .Site.Language.Lang }}
<div style="height: 400; background-image: url('{{ $data.maps.bgImage }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; max-height: 450px;">
    <iframe type="opt-in" data-name="mapsIframe" class="google-map"
        data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1331.7318434419506!2d11.601450550191032!3d48.12058066897216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf7a30281da7%3A0xc9ac267728b8fe6b!2sConSol%20Consulting%20%26%20Solutions%20Software%20GmbH!5e0!3m2!1sde!2sde!4v1582303337732!5m2!1sde!2sde"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="true"></iframe>
</div>