<section class="sticky-top navigation">
        <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                
                        <a class="navbar-brand logo" href="{{ .Site.BaseURL | relLangURL }}">
                                <img src="{{ .Site.Params.logo | relURL }}" alt="Logo" height="42px" />
                                <span class="pl-2 font-weight-bold">{{ .Site.Title }}</span>
                        </a>
                        <button id="burger-button" class="navbar-toggler rounded-0" type="button" data-toggle="collapse"
                                data-target="#navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                                <a class="nav-link" onclick="closeBurgerjs()"
                                                        href="#body">{{ .Site.Params.home }}</a></li>
                                        
                                        {{ $data := index .Site.Data .Site.Language.Lang }}
                                

                                        {{ with $data.navigation }}
                                                {{ range $index, $element := .menu }}
                                                        {{ $urlType := .type }}
                                                        {{ with (eq $urlType "ext") }}
                                                        <li class="nav-item">
                                                                <a class="nav-link" onclick="closeBurgerjs()" href="{{ $element.URL }}" target="_blank" rel="noopener">{{ $element.nav }}</a>
                                                        </li>
                                                        {{ end }}
                                                        {{ with (eq $urlType "int") }}
                                                        <li class="nav-item">
                                                                <a class="nav-link" onclick="closeBurgerjs()" href="{{ $.Site.BaseURL | relLangURL }}#{{ $element.URL }}">{{ $element.nav }}</a>
                                                        </li>
                                                        {{ end }}
                                                        {{ with (eq $urlType "sub") }}
                                                        <li class="nav-item">
                                                                <a class="nav-link" onclick="closeBurgerjs()" href="{{ $.Site.BaseURL | relLangURL }}{{ $element.URL }}">{{ $element.nav }}</a>
                                                        </li>
                                                        {{ end }}
                                                {{ end }}
                                        {{ end }}
                                        
                                        

                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="dropdownLanguage" role="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-language fa-lg"></i>
                                                </a>
                                                <div class="dropdown-menu bg-sakuli-black sakuli-no-border" aria-labelledby="dropdownLanguage">
                                                        <!-- Language List -->
                                                        {{- if .Site.IsMultiLingual }}
                                                                {{ $siteLanguages := .Site.Languages}}
                                                                {{ $pageLang := .Page.Lang}}
                                                                {{ range .Page.AllTranslations }}
                                                                {{ $translation := .}}
                                                                {{ range $siteLanguages }}
                                                                {{ if eq $translation.Lang .Lang }}
                                                                {{ $selected := false }}
                                                                <a class="dropdown-item" href="{{ $translation.Permalink }}">{{ .LanguageName }}</a>
                                                                {{ end }}
                                                                {{ end }}
                                                                {{ end }}
                                                        {{ end }}
                                                </div>
                                        </li>
                                        <!-- old language selector
                                        <li>
                                                {{- if .Site.IsMultiLingual }}
                                                <select class="nav-item" id="select-language" onchange="location = this.value;">
                                                        {{ $siteLanguages := .Site.Languages}}
                                                        {{ $pageLang := .Page.Lang}}
                                                        {{ range .Page.AllTranslations }}
                                                        {{ $translation := .}}
                                                        {{ range $siteLanguages }}
                                                        {{ if eq $translation.Lang .Lang }}
                                                        {{ $selected := false }}
                                                        {{ if eq $pageLang .Lang}}
                                                        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
                                                        </option>
                                                        {{ else }}
                                                        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">
                                                                {{ .LanguageName }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                        {{ end }}
                                                        {{ end }}
                                                </select>
                                                {{ end }}
                                        </li>
                                        -->

                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="dropDownSettings" role="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-cog"></i>
                                                </a>
                                                <div class="dropdown-menu bg-sakuli-black sakuli-no-border" aria-labelledby="dropDownSettings">
                                                        <a class="dropdown-item" onclick="klaro.show();return false;closeBurgerjs()">{{ $data.navigation.cookieSettingText }}</a>
                                                </div>
                                        </li>
                                        <li>
                                                <a class="nav-link" href="https://github.com/sakuli/sakuli" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                </a>
                                        </li>
                                        <li>
                                                <a class="nav-link" href="https://twitter.com/sakuli_e2e" target="_blank" rel="noopener">
                                                        <i class="fab fa-twitter"></i>
                                                </a>
                                        </li>

                                        
                                
                                
                                </ul>
                        </div>
                </nav>
        </div>
</section>