{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.special_POC }}
{{ if .enable }}
<section id="special_poc" class="getting-started section-sm bg-1 overly" style="background-image: url('../images/backgrounds/bg_petrol_dark.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="text-center ">
        <h1 class="sakuli-white">🥂 {{ .heading }} 🎉</h1>
    </div>
    <div class="container">


        {{ range .chapter }}
        <!-- Chapter Benefits -->
        <div class="row mt-5 mb-3">
            <div class="col-md-5 order-md-{{ .contOrder }} wow {{ if eq .contOrder "last"}}fadeInLeft{{else}}fadeInRight{{end}}"
                data-wow-duration="500ms">
                <div class="content text-center">
                    <h3 class="sakuli-green">{{ .title }}</h3>
                    {{ range .paras }}
                    <p class="text-justify">{{ .content }}</p>
                    {{ end }}
                    <!-- Call to Action -->
                    {{ if .btnText }}
                    <div class="content text-center mb-5">
                        <a href="{{ $.Site.BaseURL | relLangURL }}{{ .btnUrl }}{{ with .dropDownIndex }}?interest={{ . }}{{ end }}"
                            class="btn btn-main mt-5 mb-3">{{ .btnText }}</a>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-7 order-md-{{ .imgOrder }} d-flex flex-wrap align-items-center tilt-img-parent wow {{ if eq .imgOrder "last"}}fadeInLeftBig{{else}}fadeInRightBig{{end}}"
                data-wow-duration="500ms">
                <img class="img-fluid mx-auto {{ if eq .imgOrder "last"}}tilt-img-right{{else}}tilt-img{{end}}"
                    src="{{ .image | relURL}}">
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}