{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.team }}
{{ if .enable}}
<section id="our-team" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                    <h2>{{ .heading }}<span class="color"> {{ .headingSpan }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{ range .teamMember}}
            <div class="col-lg-3 col-md-6 col-6  mb-5 wow fadeInDown" data-wow-duration="500ms">
                <div class="team-member">
                    <div class="member-photo">
                        <img class="img-fluid" src="{{ .image | relURL }}" alt="Meghna">
                        <div class="mask">
                            <ul class="list-inline">
                                {{ range .socialIcon }}
                                <li class="list-inline-item"><a href="{{ .url }}" style="position:relative;"><i
                                            class="{{ .icon }}"
                                            style="position: absolute; left: 20%; right: 20%;"></i></a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                    <div class="member-meta">
                        <h4>{{ .name }}</h4>
                        <span>{{ .designation }}</span>
                        <p>{{ .description }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}