{{ define "main" }}
{{ partial "navigation.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.legalnotice }}
<section class="section pt-4 pb-0">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeInDown" data-wow-duration="1500ms">
                    <h2>{{ .heading }}<span class="color"> {{ .headingSpan }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
        </div>
        <div class="container legal-notice">
            <div class="row">
                <!-- Left side -->
                <div class="col-lg-6">
                    <h5>Address</h5>
                    <p>{{ .company }}</p>
                    <p> 
                    {{ .street }}<br>
                    {{ .zip }}<br>
                    Phone: {{ .tel }}<br>
                    Fax: {{ .fax }}<br>
                    E-Mail: {{ .mail }}<br>
                    </p>
                </div>

                <!-- Right side -->
                
                <div class="col-lg-6">
                    {{ range .ul }}
                    <section>
                        <h5>{{ .head }}</h5>
                        <p>
                        {{ range .lines}}
                            {{ .line }}<br>
                        {{ end }}
                        </p>
                    </section>
                    {{ end }}
                </div>

            </div>
            
        </div>
    </div>
</section>
{{ end }}
{{ end }}
